*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Itim', cursive;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1511576661531-b34d7da5d0bb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY4MTMzNTkzNw&ixlib=rb-4.0.3&q=80&w=1600");
}

.container{
    background-color: #000000;
    opacity: 0.8;
    padding: 2rem;
    border-radius: 12px;
    color: #FFFFFF;
    width: 95%;
    max-width: 450px;
    display: flexbox;
    align-items: center;
    
}

.container input, p{
    padding: 0.8rem;
}

.container h3{
    padding: 1rem;
    padding-left: 0;
}

.container input{
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #7c7c7c2b;
    width: calc(100%-70px);
    
}

.container button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.container img{

}

.container-infor{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}